*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.navigasi {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color:  rgb(29, 28, 28);
    z-index: 10;
}

.navigasi__logo {
    height: 100%;
    font-size: 35px;
    color: whitesmoke;
}

.navigasi__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.navigasi__menu li {
    padding: 20px;
}

.navigasi__menu a {
    color: whitesmoke;
    font-size: 20px;
}

.navigasi__menu a:hover {
    color: teal;
    transition: all 0.5s;
}

.home {
    background-image: url(../image/zen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.home__heading {
    color: whitesmoke;
    font-size: 50px;
    letter-spacing: 2px;
}

.home__descript {
    color: whitesmoke;
    font-size: 20px;
    letter-spacing: 3px;
    padding-top: 25px;
}

#main {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.main__text {
    position: absolute;
    left: 15%;
    top: 43%;
    transform: translate(-15%, -43%);
    width: 500px;

}

.main__text h1 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.01);
    margin: 0;
    line-height: 45px;

}

.main__text p {
    color: gray;
    font-size: 1rem;
    margin: 0;
    margin-top: 10px;
}

.main__model {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    right: -80%;
    transform: translate(80%, -50%);
}

.main__model img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin-top: 50px;
}

.copyright {
    color: var(--clr-skillP);
}

.sosmed {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sosmed a {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    background-color: #292b3252;
    margin: 5px;
    font-size: 0.9rem;
    font-weight: 400;
}

.sosmed a:hover {
    background-color: #2993f7;
    transition: all ease 0.5s;
}

::selection {
    color: #e4e4e4;
    background-color: #416cdf;
}
